<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>

<mat-card class="card">
    <div class="form-container">
        <h1>Book Appointment</h1>
    <form (submit)="createAppointment()">
        <mat-form-field>
          <input [(ngModel)]="appointmentDate" name="appointmentDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        
        <mat-form-field>
          <input [(ngModel)]="name" name="name" matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="email" name="email" matInput placeholder="Email" type="email">
        </mat-form-field>
        <button mat-raised-button color="primary">Make Appointment</button>
      </form>
    
      <!-- <form [formGroup]="appointmentForm" (ngSubmit)="createAppointment()">
    
        <mat-form-field color="accent" appearance="fill">
            <mat-label>Inherited calendar color</mat-label>
            <input matInput [matDatepicker]="date" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
      
        <label>
          First Name:
          <input type="text" formControlName="name">
        </label>
      
        <label>
          Last Name:
          <input type="email" formControlName="email">
        </label>
        <button mat-raised-button color="primary" type="submit" [disabled]="!appointmentForm.valid">Make Appointment</button>
      
      </form> -->
    </div>
</mat-card>
